.link{
  display: inline-block;
  text-decoration: none;
  padding: 12px 0px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
  transition: all 250ms ease-out;
}

.link:last-child{
  margin-left: 10px;
}

.activeLink{
  composes:link;
  color: #f3188d;
}
